

<section class="intro js-fullheight" style="background-image: url('assets/img/test6.jpg');
                    width: 100%;
                    height: 100%;
                    position: inherit;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center right;">

<div class="feat bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12 pt-5">
          <h4><span>Découvrez notre</span> agence</h4>
          <div class="font-serif">Nous avons choisi de travailler à échelle humaine, chez Mamoot vous ne serez jamais un numéro.
          Nous privilégions des communications simple et fonctionnelles à défaut d'être trop formel.</div>
        </div>
        <div class="col-lg-4 mx-auto col-sm-6 pt-5">
          <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
            <h6>Robin</h6>
            <p>Le plein mort de la bande, il choppe le covid sans rien faire. Robin est le spécialiste backend, front, des technologies et des structures informatique. Peu importe la difficulté de vos besoins le code et lui ont besoin de bassine pour quand il ken.</p>
          </div>
        </div>
        <div class="col-lg-4 mx-auto col-sm-6 pt-5">
          <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
            <h6>Thomas</h6>
            <p>Un mort plein aussi mais un peu moins, il choppe la chlamydia en se branlant. Thomas est tourné vers la créativité, la marketing social, les stats. Il saura vous guider à travers cette jungle digitale et mettre en beauté votre projet</p>
          </div>
      </div>
  </div>
</div>
</div>
</section>



<div class="wrapper">
<section class="columns">

	<div class="column texte-center">
		<h6 >NOTRE METHODE</h6>
		<p>Notre méthode est dite "agile", comprenez que cette méthode respecte quatre valeurs fondamentales</p>
    <ul class="text-center">
        <li class="list-group-item">Les individus et leurs interactions plus que les processus et les
            outils.
        </li>
        <li class="list-group-item">Des logiciels opérationnels plus qu'une documentation exhaustive.
        </li>
        <li class="list-group-item">La collaboration avec les clients plus que la négociation
            contractuelle.
        </li>
        <li class="list-group-item">L'adaptation au changement plus que le suivi d'un plan.</li>

    </ul>
	</div>

	<div class="column text-center">
		<h6>NOS STANDARDS</h6>
		<p>Chaque projets réalisé par nos soins respectent ces quelques points primoridaux à nos yeux :</p>
      <ul class="text-center">
          <li class="list-group-item">Des délivrables mobile responsive</li>
          <li class="list-group-item">Des produits uniques et sur-mesures</li>
          <li class="list-group-item">Un service technique et créatif répondant à vos besoins</li>
          <li class="list-group-item">Un code propre et maintenable</li>
          <li class="list-group-item">Un véritable support technique</li>
      </ul>
	</div>

  <div class="column text-center">
		<h6>NOS VALEURS</h6>
		<p>Vous aurez toujours un service adapté à vos réels besoins, pensé par vous mais conçu par
      nous. Vous ne paierez jamais pour rien et nous ne ferons jamais de travail inutile.</p><p> C'est bon pour
      votre portefeuille et notre moral.De plus, nous mettons un points d'honneur sur le relationnel. C'est votre pojet, nous apportons notre expertise et nos compétences mais c'est ensemble que nous obtiendrons les meilleurs résultats. </p><p> Et enfin, nous tentons de limiter notre impact écologique. Car oui le digital pollue et nous nous sentons concernés. Nous vous invitons à prendre connaissance de notre projet.</p>
	</div>

</section>

</div>
