div class="row">
   <div class="col-sm-2 col-sm-offset-5">
      <div class="large-text align-center"><a class="section-scroll" href="#services"><i class="fa fa-angle-down"></i></a></div>
    </div>
<div class="main">
    <section class="mt-5 pt-5" id="intro-about">
        <div class="container">
          <h3 class= mamoot-title-size-3>
              Une échelle humaine
          </h3>
          <div class="row mb-5">
              <p class="mx-3 pb-4 font-serif">
                  Nous avons choisi de travailler à échelle humaine, chez Mamoot vous ne serez jamais un numéro. Nous
                  privilégions des échanges courtois mais pas trop formels. Faire l'amour c'est trop facile, quand on
                  baise faut des bassines.
              </p>
              <div class="col-7">
                  <div class="d-flex d-flex h-100 ml-3" style="background-image: url('assets/img/banner_0004_home.jpg');
                                                      background-size : cover;
                                                      background-position: center center;
                                                      background-repeat: no-repeat;">
                  </div>
              </div>
              <div class="col-5 py-5">
                  <h4 class="align-self-center mamoot-title-size-2"><i class="material-icons my-4 mamoot-title-size-2">architecture</i> Un produit personnalisé
                  </h4>
                  <p class="ml-3 text-justify mamoot-title-size-1">
                      Vous aurez toujours un service adapté à vos réels besoins, pensé par vous mais conçu par nous.
                      Vous ne paierez jamais pour rien et nous ne ferons jamais de travail inutile. C'est bon pour
                      votre portefeuille et pour notre moral.
                  </p>
                  <h4 class="mamoot-title-size-2"><i class="material-icons my-4 mamoot-title-size-2">accessibility_new</i>Des contacts</h4>
                  <p class="ml-3 text-justify mamoot-title-size-1">
                      Nous privilégions des contacts courtois sans pour autant rentrer dans une formalité excessive.
                      Cela nous permet de mieux vous connaître et une meilleure adaptation à vos besoins.
                      Rappelez vous, chez Mamoot vous ne serez jamais un numéro.
                  </p>

              </div>
          </div>
          </div>

            <h3 class="mamoot-title-size-5 col-md-1 col-md-offset-5"><i class="material-icons">eco</i> Le respect de notre environnement</h3>
            <p class="font-serif">
                Conscients que notre travail et notre mode de consommation
                numérique contribue grandement à la pollution via, entre-autre, la pollution digitale. Nous avons décidé
                de mettre en place plusieurs mesures pour atténuer notre impact environnemental.
            </p>
            <div class="row pb-4">
                <div class="col-lg-7 col-12">
                    <div class="ml-3">
                        <h4 class="mamoot-title-size-2"><i class="material-icons my-4 mamoot-title-size-2">eco</i>Une forêt en expension</h4>
                        <p class="ml-3 text-justify mamoot-title-size-1">
                            La gestion de serveurs et des ordinateurs est énergivore et se traduit par un rejet
                            d'énormes
                            quantités de C02.
                            Pour compenser une partie de ces émissions nous plantons un ou plusieurs arbres pour qui
                            compenserons jusqu'à 3 fois l'impact de votre
                            plateforme web.
                        </p>
                        <h4 class="mamoot-title-size-2"><i class="material-icons my-4 mamoot-title-size-2">sync</i>Une consommation réduite</h4>
                        <p class="ml-3 text-justify mamoot-title-size-1">
                            Nous tentons de remplacer le moins possible notre matériel, nous le réparons nous même avec
                            des
                            pièces opérationnelles et provenant bien souvent d'appareils jeté à tort. De la sorte nous
                            défions
                            l'obselescence programée et limitons notre consommation électronique.
                        </p>
                        <h4 class="mamoot-title-size-2"><i class="material-icons my-4 mamoot-title-size-2">directions_bus</i>Une mobilité verte</h4>
                        <p class="ml-3 text-justify mamoot-title-size-1">
                            Nous limitons au maximum nos déplacements, en privilégiant les contacts à distance, en
                            consommant
                            local et quand cela n'est
                            pas possible nous optons au maximum pour des moyens de transport dits verts.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block mx-0 px-3">
                    <div class="d-flex d-flex h-100" style="background-image: url('assets/img/section-9.png');
                                                        background-size : cover;
                                                        background-position: center center;
                                                        background-repeat: no-repeat;">
                    </div>
                </div>
            </div>

    </section>
</div>
