html, body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h4{
  font-family: 'Roboto Condensed' !important;
}

services{
  font-family: 'Open Sans';
}

.intro h1 {
  font-size: 7vw;
  line-height: 1.2;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 5px;}
  @media (max-width: 991.98px) {
    .intro h1 {
      font-size: 40px; } }
  @media (min-width: 992px){
    .intro h1 {
      font-size: 40px; } }

.btn-green {
       background-color: #ABDDDE !important;
}

.btn-green:focus {
  background-color: #fff !important;
}

.contact {
  background-color: #ABDDDE;
}

.service-title{
  border-width: 0.1em !important;
  margin-bottom: 0.5em !important;
  border-color: #ABDDDE !important;
}

.text-carou-eco{
  letter-spacing: 24px;
  font-weight: 600;
  font-size: 48px;
}

/*--------------------------------------------------------------
	Call to action oué je range et tout moi
--------------------------------------------------------------*/
.bg-dark {
  background: #111;
}

.callout-text {
  color: rgba(255, 255, 255, 0.6);
}

.callout-title {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.callout-btn-box {
  text-align: right;
  padding-top: 4px;
}

.request-cta {
  padding: 50px 0px;
}

.module,
.module-small {
  position: relative;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
/* Callout */
.callout-text {
  margin: 0 0 30px;
}
.callout-text,
.callout-btn-box {
  text-align: center;
  }

  .card-header{
      background-color: white;
  }

  .border-primary{
      border-color: #ABDDDE !important;
  }

  .features-title,
  .alt-features-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #111;
    margin: 16px 0 15px;
  }

  .btn-primary{
      background-color: #ABDDDE !important;
      border-color: #ABDDDE !important;
      }



      /*--------------------------------------------------------------
      titres par ordre de taille
      --------------------------------------------------------------*/

      .mamoot-title-size-1 {
        letter-spacing: 2px;
        font-size: 14px;
      }
      .mamoot-title-size-2 {
        line-height: 1.3;
        letter-spacing: 2px;
        font-size: 16px;
        opacity: .8;
      }
    .mamoot-title-size-3 {
      letter-spacing: 8px;
      font-size: 36px;
     }
    .mamoot-title-size-4 {
      letter-spacing: 12px;
      font-size: 38px;
     }

     .mb-40 {
       margin-bottom: 40px !important;
     }

     .rotate {
       text-shadow: none !important;
     }

    /*--------------------------------------------------------------
    	Typographie contenu
    --------------------------------------------------------------*/
    a {
      color: #111;
    }

    a:hover, a:focus {
      text-decoration: none;
      color: #aaa;
      outline: 0;
    }

    .bg-dark a {
      color: #aaa;
    }

    .bg-dark a:hover, .bg-dark a:focus {
      color: #fff;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.4;
      font-weight: 400;
    }

    p, ol, ul, blockquote {
      margin: 0 0 20px;
      opacity: 85%;
    }

    blockquote {
      border: 0;
      font-style: italic;
      font-size: 15px;
      padding: 0;
    }

    .font-alt {
      font-family: "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .font-serif {
      font-family: Volkhov, "Times New Roman", sans-serif;
      font-style: italic;
    }

    .large-text {
      font-size: 24px !important;
    }



    .rotate {
      text-shadow: none !important;
    }

    .module-title {
      position: relative;
      letter-spacing: 4px;
      text-align: center;
      font-weight: 400;
      font-size: 30px;
      color: #111;
    }

    .module-subtitle {
      text-align: center;
      font-size: 16px;
      color: #111;
    }

    .module-icon {
      text-align: center;
      font-size: 32px;
    }
