<section class="intro js-fullheight" style="background-image: url('assets/img/agency_bg.jpg');
											width: 100%;
											height: 100%;
											position: inherit;
											background-size: cover;
											background-repeat: no-repeat;
											background-position: center center;">
	<div class="container pt-5">
		<div class="row pt-5 my-5">
			<div class="d-flex justify-content-center">
				<div class="col-sm-12 col-md-6 my-5 pt-5">
					<h1 class="text-white">L'agence digitale qui en impose.</h1>
					<button type="button" class="btn btn-outline-light">En savoir plus</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="services my-5 py-5">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<span class="icon-lightbulb my-4" style="font-size: 3em;"></span>
				<h4>Idées &amp; concepts</h4>
				Tout est possible. Nous combinons notre créativité et notre savoir pour donner vie à vos idées. Du
				marketing digital, de la création et des solutions techniques, secouez et vous obtenez Mamoot.
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<span class="icon-tools my-4" style="font-size: 3em;"></span>
				<h4>Conceptions &amp; solutions</h4>
				Nous concevons des solutions sur-mesure pour promouvoir vos produits & services sur le web. Nous crééons
				des sites internets mais également des outils de gestion pour vous faciliter le quotidien (ERP).
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<span class="icon-tools-2 my-4" style="font-size: 3em;"></span>
				<h4>Codes &amp; développements</h4>
				Nous avons à coeur de coder de façon propre. De cette façon, il est très simple de continuer à
				développer votre patrimoine digital de façon productive sur le long terme.
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<span class="icon-lifesaver my-4" style="font-size: 3em;"></span>
				<h4>Dedicated support</h4>
				Avec Mamoot, vous ne serez jamais livré à vous même dans le permafrost digital. Nous serons toujours là
				pour vous aider à répondre à vos besoins et à surmonter vos problématiques.
			</div>
		</div>
		<div class="row mt-3">
			<div class="col text-center">
				<button type="button" class="btn btn-green">En savoir plus</button>
			</div>
		</div>
	</div>
</section>

<section class="module pt-0 pb-0 border-top border-bottom" id="about">
	<div class="row position-relative no-gutters">
		<img class="col-xs-12 col-md-6" src="assets/img/about.png">
		<div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
			<div class="row">
				<div class="col-sm-12 py-5 my-5 px-5">
					<h2 class="module-title font-alt align-left my-3">About Us</h2>
					<div class="module-subtitle font-serif align-left">Nous voulons offrir le service des grandes
						sociétés à vous PME et indépendants. Il ne s'agit pas de juste le dire mais bien de le
						démontrer.
						C'est pour cela que chez Mamoot, vous ne verrez aucun développement à partir de CMS (ex:
						wordpress).
						Nous avons voulu combiner deux domaines pouvant vous sembler proches mais étonnement différents:
						Communication et IT.</div>
					<br />
					<p>Le marketing digital, la création et la pensée combiné à des solutions et du savoir technique. De
						la sorte, il n'y aucune contrainte à la création sauf celle de votre imagination.</p><br />
					<p>C'est avec coeur et passion que nous voulons promouvoir votre projet. Branding, création de site
						internet, ERP, interaction mobile, UI, UX, ... Vos problématiques sont notre quotidien et c'est
						avec plaisir que nous défendrons vos valeurs. </p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="module my-5 py-5" id="team">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2>Notre équipe</h2>
				<div class="module-subtitle font-serif my-5">Découvrez notre équipe de super héros chevauchant des
					mammouths sur l'internet mondial.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-12 text-center">
				<img class="img-fluid" src="assets/img/team-2.jpg">
				<h4 class="mt-4">Robin</h4>
				<div class="team-role">Développeur web</div>
			</div>
			<div class="col-md-4 col-12 text-center">
				<img class="img-fluid" src="assets/img/team-2.jpg">
				<h4 class="mt-4">Robin</h4>
				<div class="team-role">Développeur web</div>
			</div>
		</div>
	</div>
</section>


<section class="contact py-4">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 my-4">
				<h2 class="module-title font-alt">Contactez nous</h2>
				<div class="module-subtitle font-serif"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<form id="contactForm" role="form" method="post" action="php/contact.php">
					<div class="form-group">
						<label class="sr-only" for="name">Name</label>
						<input class="form-control" type="text" id="name" name="name" placeholder="Your Name*"
							required="required" data-validation-required-message="Please enter your name." />
						<p class="help-block text-danger"></p>
					</div>
					<div class="form-group">
						<label class="sr-only" for="email">Email</label>
						<input class="form-control" type="email" id="email" name="email" placeholder="Your Email*"
							required="required" data-validation-required-message="Please enter your email address." />
						<p class="help-block text-danger"></p>
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="7" id="message" name="message" placeholder="Your Message*"
							required="required"
							data-validation-required-message="Please enter your message."></textarea>
						<p class="help-block text-danger"></p>
					</div>
					<div class="text-center">
						<button type="button" class="btn btn-outline-light">Envoyer</button>
					</div>
				</form>
				<div class="ajax-response font-alt" id="contactFormResponse"></div>
			</div>
			<div class="col-sm-4">
				<div class="alt-features-item mt-0">
					<div class="alt-features-icon"><span class="icon-megaphone"></span></div>
					<h3 class="alt-features-title font-alt">Nous rencontrer</h3>Mamoot<br />23 Greate Street<br />Los
					Angeles, 12345 LS
				</div>
				<div class="alt-features-item mt-xs-60">
					<div class="alt-features-icon"><span class="icon-map"></span></div>
					<h3 class="alt-features-title font-alt">Nous appeler</h3>Email: somecompany@example.com<br />Phone: +1
					234 567 89 10
				</div>
			</div>
		</div>
	</div>
</section>

