.intro h1 {
  font-size: 7vw;
  line-height: 1.2;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Oswald", Arial, sans-serif; }
  @media (max-width: 991.98px) {
    .intro h1 {
      font-size: 40px; } }
  @media (min-width: 992px){
    .intro h1 {
      font-size: 40px; } }
.text-white {
  color: #fff;
}