<section class="intro js-fullheight" style="background-image: url('assets/img/agency_bg.jpg'); 
											width: 100%;
											height: 100%;
											position: inherit;
											background-size: cover;
											background-repeat: no-repeat;
											background-position: center center;">
	<div class="container pt-5">
		<div class="row pt-5 my-5">
			<div class="d-flex justify-content-center">
				<div class="col-sm-12 col-md-6 my-5 pt-5">
					<h1 class="text-white">L'agence digitale qui en impose.</h1>
					<button type="button" class="btn btn-outline-light">En savoir plus</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="services my-5 py-5">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<span class="icon-lightbulb my-4" style="font-size: 3em;"></span>
				<h4>Ideas and concepts</h4>
				Careful attention to detail and clean,
				well structured code ensures a smooth user experience for all your visitors.
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<span class="icon-tools my-4" style="font-size: 3em;"></span>
				<h4>Designs &amp; interfaces</h4>
				Careful attention to detail and
				clean, well structured code ensures a smooth user experience for all your visitors.
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<span class="icon-tools-2 my-4" style="font-size: 3em;"></span>
				<h4>Coding &amp; development</h4>
				Careful attention to detail and clean, well structured code ensures a smooth user experience for all
				your visitors.
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<span class="icon-lifesaver my-4" style="font-size: 3em;"></span>
				<h4>Dedicated support</h4>
				Careful attention to detail and clean,
				well structured code ensures a smooth user experience for all your visitors.
			</div>
		</div>
	</div>
</section>

<section class="module pt-0 pb-0" id="about">
	<div class="row position-relative no-gutters">
		<img class="col-xs-12 col-md-6" src="assets/img/about.png">
		<div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
			<div class="row">
				<div class="col-sm-12 py-5 my-5 px-5">
					<h2 class="module-title font-alt align-left my-3">About Us</h2>
					<div class="module-subtitle font-serif align-left">A wonderful serenity has taken possession of my
						entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
					<p>The European languages are members of the same family. Their separate existence is a myth. For
						science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their
						grammar, their pronunciation and their most common words.</p>
					<p>The European languages are members of the same family. Their separate existence is a myth. For
						science, music, sport, etc, Europe uses the same vocabulary.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="mission">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6 back-cyan">
				<div class="container my-5">
					<div class="row">
						<h3 class="offset-2 back-purple"> Notre mission </h3>
					</div>
					<div class="row">
						<p class="col-8 offset-2 text-justify px-0 my-3">
							Exister sur Internet n'est pas évident. Chez Mamoot nous créons sur mesure pour vous. Qu'il
							s'agisse de la création d'un site, d'un référencement SEO, d'une identité digitale ou de
							toute autre demande. Nous sommes là. Ne vous laissez pas dépasser, prenez les choses en
							main et faites nous confiance.
						</p>
					</div>
					<div class="row">
						<div class="offset-8 text-center">
							<button type="button" class="btn back-purple">Contactez-nous</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 back-purple">
				<div class="row">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="intro pt-0 pb-0 noselect">
	<div class="container-fluid ftco-animate">
		<div class="row no-gutters">
			<div class="col-md-6 col-12 pr-0 mr-0 back-cyan">
				<div class="container-fluid">
					<div class="row animated no-gutters">
						<h3 class="offset-1 back-purple mt-5 noselect text-cyan">Notre mission</h3>
					</div>
					<div class="row">
						<p class="col-8 offset-2 text-center ">
							Site internet, référencement Web, identité digitale,
							campagne emailing, ... Vous vous sentez dépassé par ces concepts ? <br>
							Mamoot s'occupe de tout. Vraiment tout. Venez, on vous explique.</p>
					</div>
				</div>
				<div class="row mb-5">
					<button type="button" class="offset-9 btn back-purple text-cyan">Expliquez-moi</button>
				</div>

			</div>
			<div class="col-md-6 col-12 pl-0 ml-0 pr-0 mr-0 back-purple">
				<div class="container-fluid ">
					<div class="row animated no-gutters">
						<h3 class="offset-1 mt-5 noselect back-cyan text-purple"> Notre méthode </h3>
						<p class="col-8 offset-2 text-white text-center">Chez Mamoot, notre priorité est de nous
							<b>adapter</b> à vos <b>besoins</b>. Nos développeurs et nos designers
							vous livrent un <b>contenu personnalisé</b> qui est à votre <b>image</b>. Pour
							parvenir à ce résultat nous suivons une <b>méthode méticuleuse</b>.</p>
					</div>
					<div class="row mb-5">
						<button type="button" class="offset-9 btn back-cyan text-purple">Découvrez-la</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="services-section back-cyan pt-0 mt-0">
	<div class="container-fluid border border-white">
		<div
			style="background-image: url('assets/img/main-gauche.gif'); background-size: 50%; background-position: left center; background-repeat: no-repeat ;">
			<div id="mainGauche"
				style="background-image: url('assets/img/main-droite.gif'); background-size: 50%; background-position: right center; background-repeat: no-repeat ;">
				<div class="row no-gutters">
					<div class="col-6">
						<div class="row ftco-animate no-gutters">
							<h2 class="offset-1 back-purple text-cyan mt-5 mb-5">Nous créons pour répondre à vos besoins
							</h2>
						</div>
						<div class="offset-4 d-flex align-self-stretch ftco-animate ">
							<button style="width:100%;height:100%;display:block; background-color: transparent;"
								class="btn btn-link shadow-none" (click)="clickOnService()">
								<div class="media block-6 text-center services d-block mt-1 mb-1">
									<div class="media-body">
										<h3 class="heading ml-3 mr-3 text-purple text-left">Je veux faire connaître mon
											entreprise
										</h3>
									</div>

								</div>
							</button>
						</div>
						<div class="offset-4 d-flex align-self-stretch ftco-animate ">
							<a href="" style="width:100%;height:100%;display:block;">
								<div class="media block-6 text-center services d-block mt-1 mb-1">

									<div class="media-body">
										<h3 class="heading ml-3 mr-3 text-purple text-left">Je veux simplifier ma
											gestion
										</h3>
									</div>

								</div>
							</a>
						</div>
						<div class="offset-4 d-flex align-self-stretch ftco-animate ">
							<a href="" style="width:100%;height:100%;display:block;">
								<div class="media block-6 text-center services d-block mt-1 mb-1">

									<div class="media-body">
										<h3 class="heading ml-3 mr-3 text-purple text-left">Je veux acquérir de nouveaux
											clients
										</h3>
									</div>

								</div>
							</a>
						</div>
						<div class="offset-4 d-flex align-self-stretch ftco-animate ">
							<a href="" style="width:100%;height:100%;display:block;">
								<div class="media block-6 text-center services d-block mt-1 mb-1">

									<div class="media-body">
										<h3 class="heading ml-3 mr-3 text-purple text-left">Je veux une nouvelle
											identité digitale
										</h3>
									</div>

								</div>
							</a>
						</div>
					</div>
					<div class="col-6">
						<h2 class="text-purple offset-1 col-6 mt-5 mb-5">Faites vous connaître</h2>
						<p id="service1" class="offset-2 col-8 text-center d-none">Lorem ipsum dolor sit amet,
							consectetur
							adipiscing elit,
							sed do eiusmod tempor incididunt
							ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco
							laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
							in
							voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Existez sur Internet</span>
				<h2 class="mb-4">Ne ratez pas le coche, rejoignez nous</h2>
				<p>En 2019, 70% des PME belges étaient présentes sur Internet, ne soyez pas dans les 30% restants.</p>
			</div>
		</div>
		<div class="row justify-content-center ftco-animate">
			<div class="col-md-8">
				<div class="featured-causes">
					<div class="progress" style="height:50px">
						<div class="progress-bar progress-bar-striped" style="width:65%; height:50px"></div>
					</div>
					<div class="text mt-4 d-md-flex">
						<div class="one d-flex">
							<div class="goal">
								<p class="d-flex"><span>Actuel:</span><span>70%</span></p>
								<p class="d-flex"><span>Objectif:</span><span>100%</span></p>
							</div>
						</div>
						<div class="one align-right text-md-right align-right">
							<p><a href="#" class="btn btn-primary">Rejoignez-nous</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-causes bg-primary">
	<div class="container">
		<div class="row justify-content-center pb-4">
			<div class="about-text col-md-10 text-center px-3 py-5 pl-md-5 pr-md-5 ftco-animate">
				<h2 class="mb-4">Nos priorités</h2>
				<p>Chez Mamoot, notre priorité est de nous <b>adapter</b> à vos <b>besoins</b>. Nous mettons tout en
					oeuvre pour népondre aux mieux à vos <b>attentes</b>. Nos développeur et nos designers s'efforcent
					de vous livrer un <b>contenu personnalisé</b> qui est à votre <b>image</b>. Pour parvenir à ce
					résultat nous suivons une <b>méthode méticuleuse</b>.</p>
				<a routerLink="services" class="btn btn-black py-3 px-4">Notre méthode</a>

			</div>
		</div>
	</div>
</section>

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
		<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
		<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
			stroke="#F96D00" /></svg></div>