html, body{
  font-family: 'Roboto Condensed';
}

services{
  font-family: 'Open Sans';
}
.intro h1 {
  font-size: 7vw;
  line-height: 1.2;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 5px;}
  @media (max-width: 991.98px) {
    .intro h1 {
      font-size: 40px; } }
  @media (min-width: 992px){
    .intro h1 {
      font-size: 40px; } }

.btn-green {
       background-color: #ABDDDE !important;
}

.btn-green:focus {
  background-color: #fff !important;
}

.contact {
  background-color: #ABDDDE;
}

.service-title{
  border-width: 0.1em !important;
  margin-bottom: 0.5em !important;
  border-color: #ABDDDE !important;
}

/*--------------------------------------------------------------
	Call to action oué je range et tout moi
--------------------------------------------------------------*/
.bg-dark {
  background: #111;
}

.callout-text {
  color: rgba(255, 255, 255, 0.6);
}

.callout-title {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.callout-btn-box {
  text-align: right;
  padding-top: 4px;
}

.request-cta {
  padding: 50px 0px;
}

.module,
.module-small {
  position: relative;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
/* Callout */
.callout-text {
  margin: 0 0 30px;
}
.callout-text,
.callout-btn-box {
  text-align: center;
  }
