<div class="top-page container-fluid" style="background-image: url('assets/img/banner.gif');">
	<div class="row animated slideInDown">
		<img class="mt-5 col-2" src="assets/img/mamoot.gif">
	</div>
	<div class="overlay"></div>
	<div class="row no-gutters justify-content-left" data-scrollax-parent="true">
		<div class="col-4 mt-5 slider-text">
			<h1 class="ml-3 animated slideInLeft">Une agence de communication qui <br>
				en impose.</h1>
		</div>
	</div>
	<div class="row no-gutters slider-text pr-3 animated slideInRight">
		<h2 class="col-lg-3 offset-lg-9 mt-5 pb-5 text-right">
			Réflexion stratégique et créative <br>
			Website & E-shop <br>
			SEO & SEA <br>
			Social media <br>
			Emailing & CRM <br>
			UX & UI <br>
			Analyse de données et rapports
		</h2>
	</div>
</div>


<div class="container-fluid pt-0 pb-0">
	<div class="row">
		<div class="col-6">
			<div class="container-fluid d-flex h-100">
				<div class="row animated ftco-animate">
					<div class="col-8 offset-2 justify-center align-self-center">
						<h3 class="color-second">Peu importe votre chiffre d'affaire, chez mamoot vous recevrez la
							même
							expertise et le
							même
							service que pour les grandes entreprises, que ce soit
							pour un site web ou une campagne complète. Nous remurons le permafrost
							pour vous.</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-6 ofsset-3">
						<a href="#" class="btn btn-primary">Nos services</a>
					</div>
				</div>
			</div>
		</div>
		<img class="col-6 pl-0 ftco-animate" src="assets/img/pmevolution.gif">
	</div>
</div>


<section class="services-section py-5 py-md-0">
	<div class="container">
		<div class="row no-gutters d-flex">
			<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 text-center services d-block">
					<div class="icon"><span class="flaticon-charity"></span></div>
					<div class="media-body">
						<h3 class="heading ml-3 mr-3">Site web avec système ERP intégré</h3>
						<p class="ml-3 mr-3">Vous cherchez à vous faciliter la vie dans la gestion de votre activité?
							Nous proposons des sites internets avec des solutions de gestion quotidienne (facturations,
							gestion de stock,...) </p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 text-center services d-block">
					<div class="icon"><span class="flaticon-adoption"></span></div>
					<div class="media-body">
						<h3 class="heading ml-3 mr-3">Stratégie & marketing digitale</h3>
						<p class="ml-3 mr-3">Nous nous occupons de toute votre stratégie digitale. Nous pouvons créer ou
							renforcer votre image. Nous analysons votre situation et nous vous garantissons d'améliorer
							votre visibilité. </p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 text-center services d-block">
					<div class="icon"><span class="flaticon-volunteer"></span></div>
					<div class="media-body">
						<h3 class="heading ml-3 mr-3">Audit et analyse</h3>
						<p class="ml-3 mr-3">Nous analysons votre site internet, votre image, le comportement de vos
							utilisateurs, nous procèdons aux changements/faisons un rapport détaillé qui vous permettra
							de garder vous utilisateurs sur votre site ou de mieux vendre. </p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 text-center services d-block">
					<div class="icon"><span class="flaticon-open-book"></span></div>
					<div class="media-body">
						<h3 class="heading ml-3 mr-3">Création de charte graphique</h3>
						<p class="ml-3 mr-3">Nous élaborons votre charge graphique ( logo, charte complète, ... ),
							qu'elle existe déjà ou qu'elle ne soit pas encore présente, nous nous occupons de tout.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Existez sur Internet</span>
				<h2 class="mb-4">Ne ratez pas le coche, rejoignez nous</h2>
				<p>En 2019, 70% des PME belges étaient présentes sur Internet, ne soyez pas dans les 30% restants.</p>
			</div>
		</div>
		<div class="row justify-content-center ftco-animate">
			<div class="col-md-8">
				<div class="featured-causes">
					<div class="progress" style="height:50px">
						<div class="progress-bar progress-bar-striped" style="width:65%; height:50px"></div>
					</div>
					<div class="text mt-4 d-md-flex">
						<div class="one d-flex">
							<div class="goal">
								<p class="d-flex"><span>Actuel:</span><span>70%</span></p>
								<p class="d-flex"><span>Objectif:</span><span>100%</span></p>
							</div>
						</div>
						<div class="one align-right text-md-right align-right">
							<p><a href="#" class="btn btn-primary">Rejoignez-nous</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-causes bg-primary">
	<div class="container">
		<div class="row justify-content-center pb-4">
			<div class="about-text col-md-10 text-center px-3 py-5 pl-md-5 pr-md-5 ftco-animate">
				<h2 class="mb-4">Nos priorités</h2>
				<p>Chez Mamoot, notre priorité est de nous <b>adapter</b> à vos <b>besoins</b>. Nous mettons tout en
					oeuvre pour népondre aux mieux à vos <b>attentes</b>. Nos développeur et nos designers s'efforcent
					de vous livrer un <b>contenu personnalisé</b> qui est à votre <b>image</b>. Pour parvenir à ce
					résultat nous suivons une <b>méthode méticuleuse</b>.</p>
				<a routerLink="services" class="btn btn-black py-3 px-4">Notre méthode</a>

			</div>
		</div>
	</div>
</section>

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
		<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
		<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
			stroke="#F96D00" /></svg></div>