<div class="main">
    <section class="mt-5 pt-5" id="intro-about">
        <div class="container">
            <h2 class="pl-2">Découvrez nos valeurs</h2>
            <p class="py-4 pl-2">
                Chez Mamoot, nous travaillons tout en respectant certaines valeurs, nous vous en présentons ci-bas
                quelques unes, qui à nos yeux, sont les plus importantes.
            </p>
            <h3>
                Le respect de notre environnement
            </h3>
            <p>
                Conscients que notre travail et notre mode de consommation
                numérique contribue grandement à la pollution via, entre-autre, la pollution digitale. Nous avons décidé
                de mettre en place plusieurs mesures pour atténuer notre impact environnemental.
            </p>
            <div class="row">
                <div class="col-lg-7 col-12">
                    <div class="ml-3">
                        <h4><i class="material-icons my-4">eco</i>Une forêt en expension</h4>
                        <p class="ml-3 text-justify">
                            La gestion de serveurs et des ordinateurs est énergivore et se traduit par un rejet
                            d'énormes
                            quantités de C02.
                            Pour compenser une partie de ces émissions nous plantons un ou plusieurs arbres pour qui
                            compenserons jusqu'à 3 fois l'impact de votre
                            plateforme web.
                        </p>
                        <h4><i class="material-icons my-4">sync</i>Une consommation réduite</h4>
                        <p class="ml-3 text-justify">
                            Nous tentons de remplacer le moins possible notre matériel, nous le réparons nous même avec
                            des
                            pièces opérationnelles et provenant bien souvent d'appareils jeté à tort. De la sorte nous
                            défions
                            l'obselescence programée et limitons notre consommation électronique.
                        </p>
                        <h4><i class="material-icons my-4">directions_bus</i>Une mobilité verte</h4>
                        <p class="ml-3 text-justify">
                            Nous limitons au maximum nos déplacements, en privilégiant les contacts à distance, en
                            consommant
                            local et quand cela n'est
                            pas possible nous optons au maximum pour des moyens de transport dits verts.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block mx-0 px-3">
                    <div class="d-flex d-flex h-100" style="background-image: url('assets/img/section-9.jpg');
                                                        background-size : cover; 
                                                        background-position: center center;
                                                        background-repeat: no-repeat;">
                    </div>
                </div>
            </div>
            <h3>
                Une échelle humaine
            </h3>
            <div class="row mb-5">
                <p class="mx-3">
                    Nous avons choisi de travailler à échelle humaine, chez Mamoot vous ne serez jamais un numéro. Nous
                    privilégions des échanges courtois mais pas trop formels. Faire l'amour c'est trop facile, quand on
                    baise faut des bassines.
                </p>
                <div class="col-7">
                    <div class="d-flex d-flex h-100 ml-3" style="background-image: url('assets/img/banner_0004_home.jpg');
                                                        background-size : cover; 
                                                        background-position: center center;
                                                        background-repeat: no-repeat;">
                    </div>
                </div>
                <div class="col-5 py-5">
                    <h4 style="align-self-center"><i class="material-icons my-4">architecture</i>Un produit personnalisé</h4>
                    <p class="ml-3 text-justify">
                        Vous aurez toujours un service adapté à vos réels besoins, pensé par vous mais conçu par nous.
                        Vous ne paierez jamais pour rien et nous ne ferons jamais de travail inutile. C'est bon pour
                        votre portefeuille et pour notre moral.
                    </p>
                    <h4><i class="material-icons my-4">accessibility_new</i>Des contacts</h4>
                    <p class="ml-3 text-justify">
                        Nous privilégions des contacts courtois sans pour autant rentrer dans une formalité excessive.
                        Rappelez vous, chez Mamoot vous ne serez jamais un numéro.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="module mt-lg-5 mt-0 pt-2 pt-1" id="alt-features">
        <div class="container">
            <div class="row">
                <div class="col-12 my-5 py-5">
                    <h3 class="mb-5">Ce que nous vous proposons</h3>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-lg-6">
                    <h3 class="col-7 col-sm-6 col-sm-4 col-lg-10 ">Notre méthode</h3>
                    <p class="pt-4 pl-3">
                        Notre méthode est dite "agile", ce qui veut dire qu'elle respecte quatre valeurs fondamentales :
                    </p>
                    <ul class="pb-4 list-group col-12">
                        <li class="list-group-item border-primary">Les Individus et leurs interactions plus que les
                            processus et les
                            outils
                        </li>
                        <li class="list-group-item border-primary">Des logiciels opérationnels plus qu'une documentation
                            exhaustive
                        </li>
                        <li class="list-group-item border-primary">La collaboration avec les clients plus que la
                            négociation
                            contractuelle
                        </li>
                        <li class="list-group-item border-primary">L'adaptation au changement plus que le suivi d'un
                            plan</li>

                    </ul>
                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="col-7 col-sm-6 col-sm-4 col-lg-10 ">Nos standards</h3>
                    <p class="pt-4 pl-3">
                        Chaque projet réalisé par nos soins respecte ces quelques point primoridaux à nos yeux :
                    </p>
                    <ul class="pb-lg-4 list-group col-12">
                        <li class="list-group-item border-primary">Des délivrables mobile responsive</li>
                        <li class="list-group-item border-primary">Un référencement web optimisé</li>
                        <li class="list-group-item border-primary">Une charte graphique respectant les standards</li>
                        <li class="list-group-item border-primary">Un code propre et maintenable</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: black;">
        <div class="container py-5">
            <div class="row">
                <div class="offset-lg-2 col-sm-12 col-md-12 col-lg-6">
                    <div class="">
                        <h4 class="text-white">Vous avez déjà une offre digitale à partir de 500€</h4>
                        <p class="text-white">Nous privilégions l'échange au lieu d'un plan tarrifaire. De la sorte,
                            nous proposons des
                            prix accessibles en adéquation à vos besoins.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <button type="button" class="btn btn-light"><a class="btn btn-w btn-round">Demandez votre
                            prix</a></button>
                </div>
            </div>
        </div>
    </section>
</div>