<body>
  <section class="intro js-fullheight" style="background-image: url('assets/img/Banner_0000_section-8.jpg');
											width: 100%;
											height: 100%;
											position: inherit;
											background-size: cover;
											background-repeat: no-repeat;
											background-position: bottom center;">
    <div class="container pt-5">
      <div class="pt-5 my-5">
        <div class="py-5 text-center">
          <h1 class="text-white col pt-5">Mission: Planète X Mamoot</h1>
          <h4 class="text-white col"> L'impact de notre activité sur notre environnement</h4>
          <a (click)="scrollToElement(aboutenv)" role="button" class="material-icons pt-5 mt-5"
            style="color: #ABDDDE; font-size: 3em;">
            arrow_drop_down
          </a>

        </div>
      </div>
    </div>
  </section>



  <section class="module" class="anchor" #aboutenv>
    <div class="container">
      <div class="row">
        <div class="container-fluid text-center py-5">
          <h2 class="module-title font-alt">Mamoot ne se laissera pas faire</h2>
          <div class="module-subtitle font-serif large-text">Conscient que notre travail et notre mode de consommation
            numérique contribue grandement à la pollution via, entre-autre, la pollution digitale. Nous avons décidé de
            mettre en place plusieurs gestes.</div>
        </div>
      </div>

      <div class="py-5 text-center">
        <a (click)="scrollToElement(gestes)" role="button" class="material-icons pt-5 mt-5"
          style="color: #ABDDDE; font-size: 3em;">
          arrow_drop_down
        </a>
      </div>
    </div>
  </section>

  <section class="module" class="anchor" #gestes>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="module-title font-alt">De petits gestes qui n'influencent pas les prix, c'est nos résolutions
            de geek.</h2>
          <div class="module-subtitle font-serif">Vous ne payez rien, nous reversons une partie de nos bénéfices
            pour
            alléger notre impact écologique dû à nos passions, nos professions.
          </div>
        </div>
      </div>
    </div>


    <div class="py-5 text-center">
      <span role="button" class="material-icons pt-5 mt-5" style="color: #ABDDDE; font-size: 3em;">
        arrow_drop_down
      </span>
    </div>
  </section>



  <div class="container">
    <div class="row multi-columns-row text-center">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon">
            <span class="icon-recycle"></span>
          </div>
          <h3 class="features-title font-alt">Nous replantons des arbres</h3>
          <p>La gestion de serveurs et des ordinateurs sont énergivores et se traduit en d'énormes quantités de
            C02 rejeté. C'est pourquoi nous plantons des arbres qui compenserons jusqu'à 3 fois l'impact de votre
            plateforme web. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-gears"></span></div>
          <h3 class="features-title font-alt">Consommation limitée</h3>
          <p>Nous tentons de remplacer le moins possible notre matériel, nous le réparons nous même avec des
            pièces opérationnelles et de qualitées issues d'appareils jeté à tort. De la sorte nous défions
            l'obselescence programée. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-happy"></span></div>
          <h3 class="features-title font-alt">Citoyens</h3>
          <p>Nous avons opté, comme beaucoup, pour des gestes simples au quotidien; nous buvons du café en vrac
            grâce à nos amis de labaiecoffee (bye bye les capsules), nous limitons l'usage des véhicules au
            bénéfice des transports au communs,etc</p>
        </div>
      </div>

    </div>
  </div>
</body>