
    <div class="feat bg-gray pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="section-head col-sm-12">
              <h4><span>Découvrez nos</span> services</h4>
              <div class="font-serif">Chez Mamoot nous avons à coeur de vous proposer des services personnalisables répondant à vos besoins</div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
                <h6>Développer votre visibilité</h6>
                <p>Nous pouvons développer votre visibilité digitale en crééant votre site internet, en
                    améliorant le référencement de votre site déjà existant (SEO et SEA) ainsi qu'en gêrant vos
                    réseaux et en établissant votre stratégie. Stratégie complête ou solution à la carte, tout
                    est possible et réponds à vos attentes et à votre budget.</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
                <h6>Vous voudriez étendre votre offre en ligne?</h6>
                <p>Concentrez vous sur l'essentiel et automatiser la gestion administrative de votre activité.
                    Fini les heures et l'énergie gaspillé en paperasse. Rendez simple La gestion de vos stocks,
                    de vos employés, de vos documents, de vos factures, ... Nous vous facilitons la vie avec la
                    création de votre propre système de gestion (ERP). Un système adaptatif, évolutif et
                    sur-mesure répondant à vos rééls besoins.</p>
                    </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                      <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
                        <h6>Renforcer ou revoir votre image</h6>
                        <p>Nous crééons ou modernisons l'image de votre marque, produit ou de votre société. Il est
                            important pour les clients de pouvoir vous identifier rapidement. Cela passe par une charte
                            graphique complête et crédible. Logos, typographie tout est pensé pour répondre à vos
                            attentes et à transmettre l'image de votre choix Nous nous occupons de votre branding de A à
                            Z, étape par étape.</p>

                            </div>
                              </div>



              </div>
              </div>
              </div>


          <div class="feat bg-gray pt-5 pb-5">
              <div class="container">
                <div class="row">
                  <div class="section-head col-sm-12">
              <h4><span>En d'autres</span> termes</h4>
            </div>

            <div class="col-lg-4 col-sm-6">
              <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
                <h6>Création de site web</h6>
                <p>Nos crééons ensemble votre e-commerce, votre site "vitrine", ... <br> Notre expertise saura vous rassurer peu importe l'objectif de vos besoins. <br> Informer, vendre, montrer, unir et plus encore. Des solutions que nous développons et produisons ensemble. (photos, vidéo, graphismes, contenu, ...)</p>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6">
              <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
                <h6>Création de système de gestions & de facturations (ERP)</h6>
                <p>Automatiser votre gestion des stocks et/où votre facturations vous fera gagner un temps précieux afin que vous puissez vous concentrer sur l'essentiel de votre métier. Des utlitaires sur mersure afin de créer la solution parfaite à votre métier.</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
                <h6>Referencement de votre site</h6>
                <p>Nous analysons votre site (produits) et optimisons son réfèrencement afin qu'il(s) soit vu par votre clients potentiels via les moteurs de recherches.</p>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6">
              <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
                <h6>Nous animons vos réseaux sociaux</h6>
                <p>Nous gérons vos réseaux en continu.Ensemble, nous établissons la stratégie en fonction de votre activité, nous produisons le contenu ou nous vous guidons dans la production de celui-ci. Ne perdez plus de temps sur les réseaux, on le fait pour vous.</p>
              </div>
              </div>

              <div class="col-lg-4 col-sm-6">
                <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
                  <h6>Audits</h6>
                  <p>Nous analysons la concurence, le choix de vos mots clés, votre positionnement SEO & SEA, les points faibles et point fort de votre future ou actuelle activité. Un rapport qui vous donnera une idée précise de l'efficacité de votre stratégie digitale et qui vous donnera les clés pour améliorer vos résultats. </p>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
                  <h6>Branding et création graphique</h6>
                  <p>Nous créeons ou renforçons l'image de votre marque, activité ou de vos produits. Créations de charte graphique, packaging, logo, documents, de contenu en général. Nous mettons tout notre savoir faire graphique à votre service!  </p>
                </div>
              </div>

              <div class="col-lg-4 col-sm-6">
                <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
                  <h6>Maintenance informatique & réseaux</h6>
                  <p>Problème informatique au bureau. Maintenance de vos ordinateurs, de votre réseaux, problèmes techniques, ...  </p>
                </div>
              </div>

          </div>
          </div>
          </div>



<!---</section>

<section class="module mt-lg-5 mt-0 pt-2 pt-1" id="alt-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block mx-0 px-0">
                <div class="d-flex d-flex h-100" style="background-image: url('assets/img/promo.png');
                                                        background-size : cover;
                                                        background-position: bottom center;
                                                        background-repeat: no-repeat;">
                </div>
            </div>


            <div class="col-12 col-lg-7 pt-5 my-5 py-5">

                <details>
                    <summary>
                        <h5>Vous cherchez à développer votre visibilité?</h5>
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
                    </summary>
                    <p> Nous pouvons développer votre visibilité digitale en crééant votre site internet, en
                        améliorant le référencement de votre site déjà existant (SEO et SEA) ainsi qu'en gêrant vos
                        réseaux et en établissant votre stratégie. Stratégie complête ou solution à la carte, tout
                        est possible et réponds à vos attentes et à votre budget.</p>
                </details>

                <details>
                    <summary>
                        <h5>Vous désirez faciliter votre gestion?</h5>
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
                    </summary>
                    <p> Concentrez vous sur l'essentiel et automatiser la gestion administrative de votre activité.
                        Fini les heures et l'énergie gaspillé en paperasse. Rendez simple La gestion de vos stocks,
                        de vos employés, de vos documents, de vos factures, ... Nous vous facilitons la vie avec la
                        création de votre propre système de gestion (ERP). Un système adaptatif, évolutif et
                        sur-mesure répondant à vos rééls besoins.</p>
                </details>

                <details>
                    <summary>
                        <h5>Vous voudriez étendre votre offre en ligne?</h5>
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
                    </summary>
                    <p>E-commerce, landing page, main page, stratégie digitale. Que vous vouliez vendre, informer,
                        créer, nous répondons à vos besoins avec créativité et professionalisme. Il est essentiel
                        d'avoir un site web de qualité et fiable représentant les valeurs de votre activité. Nous
                        proposons des solutions surmesure adaptatives et même interactives (bornes de paiement, qr
                        code, ...)</p>
                </details>

                <details>
                    <summary>
                        <h5>Vous voudriez revoir votre image?</h5>
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
                    </summary>
                    <p>Nous crééons ou modernisons l'image de votre marque, produit ou de votre société. Il est
                        important pour les clients de pouvoir vous identifier rapidement. Cela passe par une charte
                        graphique complête et crédible. Logos, typographie tout est pensé pour répondre à vos
                        attentes et à transmettre l'image de votre choix Nous nous occupons de votre branding de A à
                        Z, étape par étape.</p>
                </details>

                <details>
                    <summary>
                        <h5>Vous avez d'autres besoins?</h5>
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
                    </summary>
                    <p>La communication réponds à des codes bien précis mais ses codes ne sont pas la vérité
                        absolue. L'imagination, la créativité et l'innovation peuvent mettre en avant votre
                        entreprise. Votre activité peut répondre à des besoins différents des usages courants. C'est
                        pourquoi, il est impossible de lister tous les besoins. Nous vous invitons à prendre contact
                        avec nous pour échanger, discuter de vos idées même celle qui peuvent paraitre folles!</p>
                </details>
            </div>
        </div>
    </div>
</section>

<section style="background-color: black;">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="offset-lg-2 col-sm-12 col-md-12 col-lg-6">
                <div class="">
                    <h4 class="text-white">SEO, SEA, UX, UI, ERP, webdesign, réseaux sociaux, branding,
                        audits ...</h4>
                    <p class="text-white font-serif">Nous avons une solutions à tous vos besoins!</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 align-bottom">
                <button type="button" class="btn btn-light"><a class="btn btn-w btn-round">Demandez
                        votre
                        devis</a></button>
            </div>
        </div>
    </div>
</section>








<!--Accordéon-->

<!--<div class="col-12 col-lg-7 pt-5 my-5 py-5">
                    <h3 class="mb-5 mamoot-title-size-3">Ce que nous vous proposons</h3>
                    <div id="accordion">
                        <div class="card border-primary">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <h3 class="alt-features-title text-left">Vous
                                            cherchez à développer votre visibilité ?</h3>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                  Nous pouvons développer votre visibilité digitale en crééant votre site internet, en améliorant le référencement de votre site déjà existant (SEO et SEA) ainsi qu'en gêrant vos réseaux et en établissant votre stratégie. Stratégie complête ou solution à la carte, tout est possible et réponds à vos attentes et à votre budget.
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        <h4 class="alt-features-title text-left">Vous
                                            désirez faciliter votre gestion ?</h4>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                              Concentre vous sur l'essentiel et automatiser la gestion administrative de votre activité. Fini les heures et l'énergie gaspillé en paperasse. Rendez simple La gestion de vos stocks, de vos employés, de vos documents, de vos factures, ... Nous vous facilitons la vie avec la création de votre propre système de gestion (ERP). Un système adaptatif, évolutif et sur-mesure répondant à vos rééls besoins.
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <div class=" card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        <h4 class="alt-features-title text-left">Vous
                                            voudriez étendre votre offre en ligne ?</h4>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    E-commerce, landing page, main page, stratégie digitale. Que vous vouliez vendre, informer, créer, nous répondons à vos besoins avec créativité et professionalisme. Il est essentiel d'avoir un site web de qualité et fiable représentant les valeurs de votre activité. Nous proposons des solutions surmesure adaptatives et même interactives (bornes de paiement, qr code, ...)
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="true" aria-controls="collapseFour">
                                        <h4 class="alt-features-title text-left">Vous
                                            voudriez revoir votre image ?</h4>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Nous crééons ou modernisons l'image de votre marque, produit ou  de votre société. Il est important pour les clients de pouvoir vous identifier rapidement. Cela passe par une charte graphique complête et crédible. Logos, typographie tout est pensé pour répondre à vos attentes et à transmettre l'image de votre choix Nous nous occupons de votre branding de A à Z, étape par étape.
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseFive">
                                        <h4 class="alt-features-title text-left">Vous
                                            avez un autre besoin ?</h4>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion">
                                <div class="card-body">
                                  La communication réponds à des codes bien précis mais ses codes ne sont pas la vérité absolue. L'imagination, la créativité et l'innovation peuvent mettre en avant votre société. Votre activité peut répondre à des besoins différents des usages courants. C'est pourquoi, il est impossible de lister tous les besoins. Nous vous invitons à prendre contact avec nous pour échanger, discuter de vos idées même celle qui peuvent paraitre folles!
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="mt-3 ml-3 btn btn-primary">Contactez nous</button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-lg-6">
                    <h3 class="col-7 col-sm-6 col-sm-4 col-lg-10 module-title">Notre méthode</h3>
                    <p class="pt-4 pl-3  font-serif">
                        Notre méthode est dite "agile", ce qui veut dire qu'elle respecte quatre valeurs fondamentales :
                    </p>
                    <ul class="pb-4 list-group col-12">
                        <li class="list-group-item border-primary">Les Individus et leurs interactions plus que les processus et les
                            outils
                        </li>
                        <li class="list-group-item border-primary">Des logiciels opérationnels plus qu'une documentation exhaustive
                        </li>
                        <li class="list-group-item border-primary">La collaboration avec les clients plus que la négociation
                            contractuelle
                        </li>
                        <li class="list-group-item border-primary">L'adaptation au changement plus que le suivi d'un plan</li>

                    </ul>
                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="col-7 col-sm-6 col-sm-4 col-lg-10 module-title">Nos standards</h3>
                    <p class="pt-4 pl-3  font-serif">
                        Chaque projet réalisé par nos soins respecte ces quelques point primoridaux à nos yeux :
                    </p>
                    <ul class="pb-lg-4 list-group col-12">
                        <li class="list-group-item border-primary">Des délivrables mobile responsive</li>
                        <li class="list-group-item border-primary">Un référencement web optimisé</li>
                        <li class="list-group-item border-primary">Une charte graphique respectant les standards</li>
                        <li class="list-group-item border-primary">Un code propre et maintenable</li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->
