<div class="main">
    <section class="module mt-5 pt-5" id="alt-features">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="alt-features-item">
                        <h3 class="alt-features-title font-alt"><span class="icon-strategy mr-4"></span>Branding</h3>
                        <p class="ml- text-justify">Nous vous aidons à développer ou créer
                            votre marque afin de fidèliser ou de cibler de nouveaux clients. Logo, stratégie, style
                            communicationnel et plus encore.
                        </p>
                    </div>
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-tools-2"></span></div>
                        <h3 class="alt-features-title font-alt">Development</h3>Nous avons à coeur de coder de façon
                        propre. De cette façon, il est très simple de continuer à développer votre patrimoine digital de
                        façon productive sur le long terme.
                    </div>
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-target"></span></div>
                        <h3 class="alt-features-title font-alt">Marketing</h3> Nous analysons vos besoins et vos
                        problématiques.Nous créons de la valeur perçue par les clients et adaptons l'offre commerciale
                        de l'entreprise aux désirs des consommateurs.
                    </div>
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-tools"></span></div>
                        <h3 class="alt-features-title font-alt">SEO &amp; SEA</h3> Nous optimsons le référencement de
                        vos sites et e-commerce. Nous mettons en avant votre activité via des campagnes réfléchies et
                        efficaces. Utilisez au mieux votre budget en faisant appel à des proffessionnels!
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                    <div class="alt-services-image align-center" style="font-size: 3em;"><img
                            src="assets/images/promo.png" alt="Feature Image">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-camera"></span></div>
                        <h3 class="alt-features-title font-alt">ERP</h3> La gestion des paiements, des factures, de vos
                        ressources sont couteuses en énèrgie. Mamoot vous offre la possibité d'automatiser tout celà et
                        ce de façon personnalisé peu importe le domaine d'activité. Gagnez du temps et de l'argent.
                    </div>
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-mobile"></span></div>
                        <h3 class="alt-features-title font-alt">Mobile</h3>Le monde digital et les supports évoluent.
                        Bornes de commande, application de fidelité, ... La façon de consommer aussi, à l'heure de
                        l'internet mobile, il est primordial de possèder des produits hypers flexibles peu importe le
                        support, comme les derniers smartphones pliables!
                    </div>
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-linegraph"></span></div>
                        <h3 class="alt-features-title font-alt">Audit</h3> Audit concurenciel,E-commerce, SEO, SEA. Nous
                        soulignons vos points fabiles et points forts dans un rapport afin d'amener de nouvelle piste de
                        réflèxion.
                    </div>
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-basket"></span></div>
                        <h3 class="alt-features-title font-alt">Shop</h3> Nous concevons votre e-buisness et nous les
                        optimisons. Nous analysons le comportement de vos clients et adaptons vote site. Nous vous
                        aidons à convertir en respectant vos valeurs de vente. Nous mettons en place aussi des outils
                        pour faciliter votre gestion de stock et financière.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module-small bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                    <div class="callout-text font-alt">
                        <h3 class="callout-title">Vous avez déjà une offre digitale à partir de 500€</h3>
                        <p>Nous privilégions l'échange au lieu d'un plan tarrifaire. De la sorte, nous proposons des
                            prix accessibles en adéquation à vos besoins.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="callout-btn-box"><a class="btn btn-w btn-round"
                            href="portfolio_boxed_gutter_col_3.html">Demandez votre prix</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                </div>
                <div class="row mt-40">

                </div>
            </div>
        </div>
    </section>
    <div class="module-small bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="widget">
                        <h5 class="widget-title font-alt">About Titan</h5>
                        <p>The languages only differ in their grammar, their pronunciation and their most common words.
                        </p>
                        <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
                        <p>Email:<a href="#">somecompany@example.com</a></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="widget">
                        <h5 class="widget-title font-alt">Recent Comments</h5>
                        <ul class="icon-list">
                            <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                            <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                            <li>Andy on <a href="#">Eco bag Mockup</a></li>
                            <li>Jack on <a href="#">Bottle Mockup</a></li>
                            <li>Mark on <a href="#">Our trip to the Alps</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="widget">
                        <h5 class="widget-title font-alt">Blog Categories</h5>
                        <ul class="icon-list">
                            <li><a href="#">Photography - 7</a></li>
                            <li><a href="#">Web Design - 3</a></li>
                            <li><a href="#">Illustration - 12</a></li>
                            <li><a href="#">Marketing - 1</a></li>
                            <li><a href="#">Wordpress - 16</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="widget">
                        <h5 class="widget-title font-alt">Popular Posts</h5>
                        <ul class="widget-posts">
                            <li class="clearfix">
                                <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-1.jpg"
                                            alt="Post Thumbnail" /></a></div>
                                <div class="widget-posts-body">
                                    <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                                    <div class="widget-posts-meta">23 january</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-2.jpg"
                                            alt="Post Thumbnail" /></a></div>
                                <div class="widget-posts-body">
                                    <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                                    <div class="widget-posts-meta">15 February</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="divider-d">
    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
                </div>
                <div class="col-sm-6">
                    <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a
                            href="#"><i class="fa fa-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>