<section id="services">

        <div class="container-fluid py-5" style="background-image: url('assets/img/banner_0004_home.jpg');
                          background-position: center center;" alt="Mamoot marketing digital">
          <div class="container-fluid text-center py-5">
            <h1 class="text-center text-white">Démarquez vous</h1>
            <h2 class="mamoot-size-3 text-white text-center">Donnez de la taille à votre business</h2>
          </div>
        </div>
</section>

<div class="main">
    <section class="mt-5 pt-5" id="intro-services">
        <div class="container">
            <h2 class="pl-2 mamoot-title-size-4">Découvrez nos services</h2>
            <p class="py-4 pl-3 font-serif">

                Chez Mamoot nous avons à coeur de vous proposer des services personnalisés. Vous
                trouverez toujours un service qui vous correspond, qui profitera à vous et à votre projet. Peu
                importe
                l'option qui vous convient nous nous assurons toujours que notre façon de travailler respecte une
                procédure standard et que notre travail respecte plusieurs standards de qualité.
            </p>
        </div>
    </section>
    <section class="module mt-lg-5 mt-0 pt-2 pt-1" id="alt-features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block mx-0 px-0">
                    <div class="d-flex d-flex h-100" style="background-image: url('assets/img/promo.png');
                                                        background-size : cover;
                                                        background-position: bottom center;
                                                        background-repeat: no-repeat;">
                    </div>
                </div>

<! -- Accordéon -->

                <div class="col-12 col-lg-7 pt-5 my-5 py-5">
                    <h3 class="mb-5 mamoot-title-size-3">Ce que nous vous proposons</h3>
                    <div id="accordion">
                        <div class="card border-primary">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <h3 class="alt-features-title font-alt">Vous
                                            cherchez à développer votre visibilité ?</h3>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        <h4 class="alt-features-title text-left">Vous
                                            désirez faciliter votre gestion ?</h4>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <div class=" card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        <h4 class="alt-features-title text-left">Vous
                                            voudriez étendre votre offre en ligne ?</h4>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="true" aria-controls="collapseFour">
                                        <h4 class="alt-features-title text-left">Vous
                                            voudriez revoir votre image ?</h4>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseFive">
                                        <h4 class="alt-features-title text-left">Vous
                                            avez un autre besoin ?</h4>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="mt-3 ml-3 btn btn-primary">Contactez nous</button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-lg-6">
                    <h3 class="col-7 col-sm-6 col-sm-4 col-lg-10 module-title">Notre méthode</h3>
                    <p class="pt-4 pl-3  font-serif">
                        Notre méthode est dite "agile", ce qui veut dire qu'elle respecte quatre valeurs fondamentales :
                    </p>
                    <ul class="pb-4 list-group col-12">
                        <li class="list-group-item border-primary">Les Individus et leurs interactions plus que les processus et les
                            outils
                        </li>
                        <li class="list-group-item border-primary">Des logiciels opérationnels plus qu'une documentation exhaustive
                        </li>
                        <li class="list-group-item border-primary">La collaboration avec les clients plus que la négociation
                            contractuelle
                        </li>
                        <li class="list-group-item border-primary">L'adaptation au changement plus que le suivi d'un plan</li>

                    </ul>
                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="col-7 col-sm-6 col-sm-4 col-lg-10 module-title">Nos standards</h3>
                    <p class="pt-4 pl-3  font-serif">
                        Chaque projet réalisé par nos soins respecte ces quelques point primoridaux à nos yeux :
                    </p>
                    <ul class="pb-lg-4 list-group col-12">
                        <li class="list-group-item border-primary">Des délivrables mobile responsive</li>
                        <li class="list-group-item border-primary">Un référencement web optimisé</li>
                        <li class="list-group-item border-primary">Une charte graphique respectant les standards</li>
                        <li class="list-group-item border-primary">Un code propre et maintenable</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: black;">
        <div class="container py-5">
            <div class="row">
                <div class="offset-lg-2 col-sm-12 col-md-12 col-lg-6">
                    <div class="">
                        <h4 class="text-white">Vous avez déjà une offre digitale à partir de 500€</h4>
                        <p class="text-white font-serif">Nous privilégions l'échange au lieu d'un plan tarrifaire. De la sorte,
                            nous proposons des
                            prix accessibles en adéquation à vos besoins.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <button type="button" class="btn btn-light"><a class="btn btn-w btn-round">Demandez votre
                            prix</a></button>
                </div>
            </div>
        </div>
    </section>
</div>
